*{
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

:root {
  --primaryColor: #8C11BE;
  --secondaryColor: #ffffff;
  --terciaryColor: #A328D6;;
  --red: red;
  --green: rgb(37, 189, 37);
  --logoFont: 'Saira Stencil One', cursive;
  --primaryFont: 'Raleway', sans-serif, cursive;
}


#root {
  width: 100vw;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: var(--primaryFont);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primaryColor);
}

p {
  margin: 0;
}

.logo{
  font-family: var(--logoFont);
  color: var(--secondaryColor);
  font-size: 32px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 28px;
}

.user-input{
  width: 326px;
  height: 58px;
  margin-left: 50%;
  margin-right: 50%;
  margin-bottom: 13px;
}
.user-input input, .value-input input{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: none;
  font-family: var(--primaryFont);
  padding: 15px;
  font-size: 24px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}

.value-container{
  position: fixed;
  top: 96px;
}

.value-confirm-button{
  width: 326px;
  height: 58px;
  margin-bottom: 13px;
  cursor: pointer;
}

.value-input {
  width: 326px;
  height: 58px;
  margin-bottom: 13px;
}

.user-input input ::placeholder {
  color: black;
}

textarea:focus, input:focus {
  outline: none;
}

.confirm-button{
  width: 326px;
  height: 58px;
  margin-left: 50%;
  margin-right: 50%;
  margin-bottom: 13px;
  cursor: pointer;
}
.confirm-button button, .value-confirm-button button{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: var(--terciaryColor);
  color: var(--secondaryColor);
  font-family: var(--primaryFont);
  font-size: 20px;
  font-weight: 700, bold;
  line-height: 23px;
  letter-spacing: 0em;
}

.footer-text{
  margin-left: 50%;
  margin-right: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondaryColor);
  cursor: pointer;
  width: 234px;
}

.header{
  position: absolute;
  top: 18px;
  left: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header h1{
  font-family: var(--primaryFont);
  color: var(--secondaryColor);
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
}

.header ion-icon{
  color: var(--secondaryColor);
  font-size: 40px;
  cursor: pointer;
  position: fixed;
  right: 16px;
  top: 30px;
}

.account-container{
    width: 326px;
    height: 446px;
    top: 78px;
    position: fixed;
    background: var(--secondaryColor);
    margin-left: 50%;
    transform: translate(-50%,0);
    border-radius: 5px;
    overflow-y: scroll;
}

.container{
  width: 100vw;
  height: 100vw;
  display: flex;
  flex-direction: column;
}

.report-transaction-button{
  width: 155px;
  height: 114px;
  background-color: var(--terciaryColor);
  color: var(--secondaryColor);
  position: relative;
  border-radius: 6px;
  cursor: pointer;
}

.report-transaction-button p {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.report-transaction-button ion-icon{
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 28px;
}
#entrada{
  position: fixed;
  bottom: 16px;
  left: 25px;
}
#saida{
  position: fixed;
  bottom: 16px;
  right: 25px;
}
a:link {
  text-decoration: none;
  color: var(--secondaryColor);
}
a:visited {
  text-decoration: none;
  color: var(--secondaryColor);
}
.container-text{
  margin: 10px;
  margin-bottom: 20px;
  display: flex;
  position: relative;
}
.container-text-date{
  font-size: 16px;
  color: grey;
}
.container-text-title {
  margin-left: 5px;
  font-size: 16px;
  max-width: 180px;
}
.container-text-value {
  position: absolute;
  right: 0;
}
.red{
  color: var(--red);
}
.green{
  color: var(--green);
}
.total{
  margin: 10px;
  display: flex;
  justify-content: space-between;
  padding: 4px;
  width: 300px;
}
.total p{
  font-family: var(--primaryFont);
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
}
.loading {
  animation: is-rotating 1s infinite;
  width: 50px;
  height: 50px;
  border: 6px solid var(--primaryColor);
  border-top-color: var(--secondaryColor);
  border-radius: 50%;
  margin: 15px;
}
@keyframes is-rotating {
  to {
    transform: rotate(1turn);
  }
}